@model IEnumerable<string>
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>


@Html.ActionLink("Home", "GetProducts", "Product", new
    {

    pageNo=1
    },
    new
        {
        @class = "btn btn-block btn-default btn-lg"
        }

    )



@foreach (var link in Model)
                {
                @Html.RouteLink(link, new
               {
               controller ="Product",
               action="GetProducts",
               Category = HttpUtility.UrlDecode(link),
               PageNo =1

               }, new
                   {
                   @class="btn btn-block btn-default btn-lg" + (link==ViewBag.SelectedCategory ? " btn-primary":"")
                   })
                }